_ReSharper.bidenergy
bin
obj
*.user
*.suo
/src/.vs
/src/packages/**
/src/.sass-cache
/tools/db/dump-data
/src/bidenergy/Web/App_Data/Logs/log*
/src/bidenergy/Web/App_Data/Elmah/*.xml
/src/bidenergy/Web/Web.Publish.xml
/src/bidenergy/Web/App_Data/SampleData/Bills/**/*
/src/bidenergy/Scheduler.Web/App_Data/Logs/log*
/src/bidenergy/Scheduler.Web/App_Data/Elmah/*.xml
/src/bidenergy/Scheduler.Web/Web.Publish.xml
/src/bidenergy/Worker.Web/App_Data/Logs/log*
/src/bidenergy/Worker.Web/App_Data/Elmah/*.xml
/src/bidenergy/Worker.Web/Web.Publish.xml
/src/Build/*.cmd
/src/Build/output
/src/Build/test-result.xml
node_modules
/src/bidenergy/*/packaged
/src/bidenergy/Content/inspinia/*.css
/src/bidenergy/Content/*.map
/src/bidenergy/Data/Services/AssetService.cs
/src/bidenergy/Migrations/_245_AddAsset.cs
/tools/db/temp.sql
/src/UpgradeLog6.htm
/src/UpgradeLog5.htm
/src/UpgradeLog4.htm
/src/UpgradeLog3.htm
/src/UpgradeLog2.htm
/src/UpgradeLog.htm
/.vs
.idea
