@{
    ViewBag.Title = "Contact Page";
}
<h2 class="text-center"><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>

<address>
    <p style="font-size: 18px">
        16 Gabahal, Lalitpur Nepal<br />
        (Prabhu Bank Building)<br />
    </p>
    <abbr title="Opening Time"><b>Time:</b></abbr>
    Mon - Fri 8:30 AM to 5:30 PM
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@azrachit.com">admin@azrachit.com</a><br />
</address>